
openapi: 3.1.0
info:
  title: BConnector API
  version: 1.0.0
  description: >
    Documentação atualizada automaticamente em 2025-11-08T16:20:41.588Z
servers:
  - url: https://rejaiayzrixbhoieebpd.supabase.co/functions/v1
paths:
  /status:
    get:
      summary: Healthcheck
      description: Verifica se a API está operacional.
      responses:
        "200":
          description: OK
