openapi: 3.1.0
info:
  title: BConnector API
  description: >
    Documentação oficial da API BConnector — integração entre fornecedores, vendedores e marketplaces.
  version: 1.0.0
  contact:
    name: Equipe BConnector
    url: https://bconnector.com.br
servers:
  - url: https://api.bconnector.com.br/v1
    description: Ambiente de produção
  - url: https://rejaiayzrixbhoieebpd.supabase.co/functions/v1
    description: Ambiente de desenvolvimento (Supabase)

paths:
  /produto-create:
    post:
      summary: Cria um novo produto
      description: Registra um novo produto no sistema, incluindo variações e mídias.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProdutoCreate'
      responses:
        "200":
          description: Produto criado com sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOK'
  /produto-list:
    get:
      summary: Lista produtos
      parameters:
        - name: id_fornecedor
          in: query
          schema: { type: string, format: uuid }
        - name: limite
          in: query
          schema: { type: integer, default: 50 }
      responses:
        "200":
          description: Lista de produtos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProdutoList'

components:
  schemas:
    ProdutoCreate:
      type: object
      properties:
        id_empresa: { type: string, format: uuid }
        id_fornecedor: { type: string, format: uuid }
        nome: { type: string }
        preco: { type: number }
        variacoes:
          type: array
          items:
            type: object
            properties:
              codigo: { type: string }
              preco: { type: number }
    ResponseOK:
      type: object
      properties:
        sucesso: { type: boolean }
        mensagem: { type: string }
        id_produto: { type: string }
