openapi: "3.0.0"
info:
  title: BConnector API
  version: "1.0.0"
  description: |
    API oficial da **BConnector** — Integração entre fornecedores, vendedores e marketplaces.  
    Documentação atualizada automaticamente em 2025-11-08T19:02:25.568Z.
servers:
  - url: https://api.bconnector.com.br/v1
    description: Ambiente de produção
  - url: https://rejaiayzrixbhoieebpd.supabase.co/functions/v1
    description: Ambiente de desenvolvimento (Supabase)
tags:
  - name: Usuários
  - name: Empresas
  - name: Fornecedores
  - name: Produtos
paths:
  /status:
    get:
      tags: [default]
      summary: Healthcheck
      description: Verifica se a API está operacional
      responses:
        "200":
          description: OK
components:
  schemas:
    Produto:
      type: object
      required: [id_empresa, nome, codigo]
      properties:
        id_empresa: { type: string, example: "uuid" }
        nome: { type: string, example: "Produto Exemplo" }
        codigo: { type: string, example: "SKU123" }
        preco: { type: number, example: 99.9 }



paths:
  /usuario/create:
    post:
      tags: [Usuários]
      summary: Cria um novo usuário
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                nome: { type: string, example: "Larissa" }
                email: { type: string, example: "larissa@bconnector.com.br" }
                senha: { type: string, example: "******" }
      responses:
        "200": { description: Usuário criado }


paths:
  /empresa/create:
    post:
      tags: [Empresas]
      summary: Cria uma empresa
      responses:
        "200": { description: Empresa criada }


paths:
  /fornecedor/create:
    post:
      tags: [Fornecedores]
      summary: Cria fornecedor
      responses:
        "200": { description: Fornecedor criado }


paths:
  /produto/create:
    post:
      tags: [Produtos]
      summary: Cria produto
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Produto"
      responses:
        "200": { description: Produto criado }
