{
  "openapi" : "3.1.0",
  "info" : {
    "title" : "BConnector API",
    "description" : "Documentação atualizada automaticamente em 2025-11-08T15:52:00.696Z\n",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://rejaiayzrixbhoieebpd.supabase.co/functions/v1"
  } ],
  "paths" : {
    "/status" : {
      "get" : {
        "summary" : "Healthcheck",
        "description" : "Verifica se a API está operacional.",
        "responses" : {
          "200" : {
            "description" : "OK"
          }
        }
      }
    }
  },
  "components" : { }
}